<!DOCTYPE html>
<html>
<head>
    <title>Stockytech</title>
    <link rel="stylesheet" type="text/css" href="/css/homestyle.css">
</head>
<body>

<h1>Stockytech</h1>
<nav>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="#"><li>Order</li></a>
        <a href="#"><li>Nearby</li></a>
        <a href="/mobile/about"><li>About</li></a>
        <a href="/mobile/contact"><li>Contact Us</li></a>
    </ul>
</nav>
<section class="items">
    <div class="item">
        <img src="/images/pexels-zana-latif-18525573.jpg">
        <h4>Mobiles</h4>
        <button ><a href="/mobile" style="color: white;text-decoration: none">See More</a>
            </button><br>

    </div>
    <div class="item">
        <img src="/images/watch.jpg.jpg">
        <h4>Watches</h4>
        <button >
        <a href="/mobile/lwatch" style="color: white;text-decoration: none">See More</a></button><br>
    </div><br>
    <div class="item">
        <img src="/images/speaker.jpg">
        <h4>Speakers</h4>
        <button onclick="window.location.href='West.html';">
            See More</button><br>
    </div>
    <div class="item">
        <img src="/images/access.jpg.jpg">
        <h4>Accessories</h4>
        <button onclick="window.location.href='East.html';">
            See More</button><br>
    </div>

</section>

</body>
</html>